body{
    margin: auto;
    background-color: gray;
}
li{
    list-style: none;
}
nav{
    background-color: aqua;
}
.menu{
    font-size: 20px;
}
.menu:hover{
    color: aliceblue;
    cursor: pointer;
}
.banner{
    background: linear-gradient(cyan,rgb(92, 214, 214));
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center ;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    height: 450px;
}
.banner-container{
    width: 1200px;
    margin: auto;
    padding: 30px;
}
.bn-img{
    width: 320px;
    margin-top: -50px;

}
.service-container{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}
.title{
    color: aqua;
    font-size: 44px;
    
}
.doctors-container{
    margin-top: 50px;
    padding: 30px;
}
.doc-card{
    width: 300px;
    height: 330px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    text-align: center;
}
.doc-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 5px;

}
#search{
    padding: 10px;
    border: none;
    width: 75%;
    background-color: rgb(233, 227, 227);
    border-radius: 5px;
    height: 50px;
   
}
.nodata{
    display: none;
}
.review-card{
    width: 250px;
    height: 300px;
    box-shadow: 4px 4px 8px gray;
    border-radius:10px;
    text-align: center;
    padding: 10px;
}
.review-card img{
    width: 70px;
    height: 70px;
    border-radius:50px;
}
footer{
    padding: 50px;
    background: linear-gradient(cyan, rgb(92, 214, 214));;
}
.doctor-img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
.doc-details-container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    gap: 50px;
    width: 75%;
    margin: auto;
}
.doc-detail-btn{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: gray;
    color: white;
}